{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<h1>Connexion</h1>
	{% if errors %}
		<div class="alert alert-danger">
			{{errors.message}}
		</div>
	{% endif %}

	{{ form_start(formview) }}
	{{ form_widget(formview) }}
	<button type="submit" class="btn btn-success">Connexion</button>
	{{ form_end(formview) }}
{% endblock %}
