{% extends 'base.html.twig' %}

{% block title %}Mes Commandes
{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Adresse</th>
				<th>Date de Commande</th>
				<th>Produits</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for p in purchases %}
				<tr>
					<td>{{p.id}}</td>
					<td>{{p.adresse}}
						<br>
						{{p.postalCode}},
						{{p.city}}</td>
					<td>{{p.purchasedAt | date('d/m/Y h:m')}}</td>
					<td>
						<ul>
							{% for item in p.purchaseItems %}
								<li>{{item.quantity}}
									X
									{{item.productName}}:
									{{item.total / 100}}€
								</li>

							{% endfor %}
						</ul>
					</td>
					<td>{{p.total / 100}}€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
