{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1>Nos produits phares</h1>
	<div class="row">
		{% for p in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" %}
			</div>
			{%endfor%}
		</div>
		<hr>
		<h2>
			Un service irréprochable
		</h2>
		<div class="row">
			{% include "shared/_assurance.html.twig" with {
                'color': 'primary',
                'icone': 'fas fa-truck',
                'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis odit, cupiditate optio itaque deleniti reiciendis."
                } %}
			{% include "shared/_assurance.html.twig" with {
                'color': 'success',
                'icone': 'fas fa-check',
                'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis odit, cupiditate optio itaque deleniti reiciendis."
                } %}
			{% include "shared/_assurance.html.twig" with {
                'color': 'warning',
                'icone': 'fas fa-lock',
                'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis odit, cupiditate optio itaque deleniti reiciendis."
                } %}
		</div>
	{% endblock %}
