<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="/">GemarShop</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			{% for c in categoryRepository.findAll() %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('product_category', {'slug': c.slug})}}">{{c.name}}</a>
				</li>
			{% endfor %}
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="{{path('cart_show')}}" class="nav-link">
					<i class="fas fa-shopping-cart"></i>
					Panier ({{ cartService.total | amount }})</a>
			</li>
			{% if app.user %}
				<li class="nav-item">
					<a href="#" class="nav-link">
						Mes Commandes</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-danger" href="{{ path('security_logout') }}">Logout</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="#">Inscription</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-success" href="{{ path('security_login') }}">Login</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
